
body{
  margin: 0px;
  box-sizing: border-box;
  margin: 0px;
  background-color: rgb(245, 243, 240);
 opacity: i;
}

.confirm:hover {
  background-color: brown;
  color: white;
  transform: scale(1.05);
  opacity: 0.9;
}
.new-order:hover {
  background-color: brown;
  color: white;
  transform: scale(1.05);
  opacity: 0.9;
}
.stro{
  font-size: 25px;
}


.svg{
  width: 50px;
}
h1{
  font-weight: bold;
  font-size: 50px;
  padding-left: 20px;
}
.lop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: brwn;
}
.pics{
  width: 70%;
  margin: 0 auto;
}
.pics:hover{
border: none;
}
.text{
  font-size: 20px;
  text-align: center;
}
.plus, .minus {
  
  color: brown;
  background-color: white;
  border: none;
  padding: 0px 7px;
  font-size: 20px;
  cursor: pointer;
  border:1px solid white;
  border-radius: 15px;
  

}

.it{
  width: 15px;
}
.lop p {
  margin: 0px 25px;
  font-size: 16px;
    color: white;
}

.image:hover{
transform: scale(0.9);
  transition: transform 0.5s ease; /* 1 second smooth change */



  border-radius: 10px;

}
.main{
  width:100%;
  position:relative;
}
img{
  width:100%;
  border-radius:5px;
}
img:hover{
border: 5px solid brown;
}
.dev{
  width: 90%;
  margin: 0 auto;
}
.delete{
  font-size: 30px;
  border: none;
}
.image-container {
  position: relative;
}
.image img.active {
  border: 5px solid brown;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.bug {
  position: absolute;
  bottom: 0%;           /* from bottom instead of top */
  left: 50%;
  transform: translateX(-50%); /* centers horizontally */
  
  width: fit-content;
 max-width: 100%;
 font-size: clamp(14px, 1.2vw, 18px);
 white-space: nowrap;
 padding: 1em 2.5em;
  border: 1px solid brown;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-weight: 500;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.bug:hover {
  background-color: brown;
  color: white;
  transform: translateX(-50%) scale(1.05);
}

.bug.active-cart{
  background-color: brown;
  color: brown;

}
.bug.active-cart .plus,
.bug.active-cart .minus{
  background-color:white;
  color:brown;
}
.bug.active-cart .plus:hover,
.bug.active-cart .minus:hover,
.bug.active-cart .plus:active,
.bug.active-cart .minus:active{
  background-color: brown;
  color: white;
}
/*
.bug{
  position:absolute;
  top:-30px;
  padding: 20px 0px;
  padding-left:80px;
  padding-right:80px;
   text-align: center;
  justify-content: center;
  border: 1px solid brown ;
  border-radius:30px;
  background-color: white;
  font-weight: bold;
  left:220px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.9s ease,
  transform 0.9s,
  opacity 0.4s ease;
}
*/
.relative{
  position: relative;
  text-align: center;
  justify-content: center;
  
}
.price{
  color:brown;
  font-weight: bold;
  font-size: 30px;
}
.little{
  color: grey;
  opacity:0.7;
  font-size: 22px;
}
.gather{
  padding:0px;
  display: flex;
  flex-direction: column;
  margin-top:50px;
  margin-left:10px;
  gap: 10px;
  
}
.divide{
  display: flex;
  width:100%;
  gap:40px;
  z-index: 1;
   flex-direction: column;
   padding: 0px 30px;
   margin-bottom: 20px;
}

.mole{
  background-color: #ffff;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  width:90%;
  
  height: 80%;
margin-right: 0px;

margin: 0 auto;
  padding-bottom: 50px;
  padding-left:  10px;
  padding-right: 10px;
 
}

.cart{
  font-size: 25px;
  color:brown;
  font-weight: bold;
}
.gave{
  width: 90%;
  margin: 0 auto;
}

.three{
  display:flex;
  gap:10px;
  align-items: center;
}
.threes{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.name{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.pop{
  color: brown;
  font-size: 20px;
  font-weight: bold;
}
.p{
  font-size: 18px;
  color: grey;
  opacity: 0.8;
}

 .b{
  font-size: 18px;
  color: grey;
  opacity: 1.5;
}
.odd{
  display: flex;
  flex-direction: column;
 position: relative;
}
hr{
opacity: 0.5;
}
.order{
  font-size: 25px;
  font-weight:bold;
}
.is{
  font-size: 18px;
}
.neutral{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  background-color: rgb(245, 243, 240);
}
.quantity{
  padding-left: 5%;
}
.vg{
width: 30px;
}
.increase{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.tot{
  font-size: 20px;
}
.box{
  justify-content: center;
  align-items: center;
}
.confirm{
  padding-right:110px;
  padding-left:110px;
  white-space: nowrap;
  width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  background-color: brown;
  border: 1px solid grey;
  cursor: pointer;
  transition: background-color 0.9s ease,
  transform 0.9s,
  opacity 0.4s ease;
}

.mage{

  width: 100%;

}
.us{
  width:100px;
 
}
h2{
  font-size: 50px;
  margin-bottom: 10px;
}
.enjoy{
  font-size: 30px;
  color: rgb(122, 119, 119);
  margin-bottom: 50px;
}
/*
.mu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
  */
.son{
  display: flex;
  
align-items: center;
 
}
  .mu{
    display: flex;
    align-items: center;
    gap: 10px;
   
  }
hr{
  margin-top: 0px;
  margin-bottom: 0px;
 background-color: rgb(245, 243, 240);

}
.last{
  display: flex;
  align-items: center;
  gap:10px;
  position: relative;
  
  padding-top: 10px;
  background-color: rgb(247, 241, 230);
}

.hu{
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.low{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.hop{
  font-size: 18px;
 
  font-weight:bold;
}
.g{
  color:brown;
  font-size: 25px;
  font-weight: bold;
}
.kept{
  margin-left:0px;
  font-size: 25px;
  padding: 0px;
}
.no{
  opacity:0.6;
  font-size: 24px;
}
.this{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 10px;
  
   background-color: rgb(247, 241, 230);
}
.mod{
  font-size: 18px;
  margin-top: 50px;
}
.hm{
  font-size: 40px;
  font-weight: bold;
}
.new-order{
  
 background-color:brown;
  font-size:18px;
  color:white;
  width: 90%;
  padding-top:20px;
  padding-bottom:20px;
  margin: 0 auto;
  border-radius: 50px;
  font-size: 20px;
  position: absolute;
    left:5%;
    right: 50%;
    border: none;
    cursor: pointer;
  transition: background-color 0.9s ease,
  transform 0.9s,
  opacity 0.4s ease;

  
}
.gone{
  margin-bottom: 18px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
background-color: #fff;
padding-bottom: 80px;
  
}

  .display{
  display: grid;
  grid-template-columns: 1fr ;
  gap:30px;
  width:100%;
  position: relative;
  z-index:10;
  margin-left: 0px;
}
.toas{
  left: 50%;
 top: 50%;

 z-index:1000;
  width: 90%;          /* takes up to 90% of mobile width */
  max-width: 400px; 
  opacity:2;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: none;
  position:fixed;
  transform: translate(-50%, -50%);
  padding: 10px 10px;

}


@media (min-width:765px){
  .divide{
   display: flex; 
   flex-direction: column;
   padding: 0px 30px;
   margin-bottom: 20px;
  }
  .toas{
  left: 50%;
 top: 50%;

 z-index:1000;
  width: 90%;          /* takes up to 90% of mobile width */
  max-width: 400px; 
  opacity:2;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: none;
  position:fixed;
  transform: translate(-50%, -50%);
  padding: 10px 10px;

}
  .display{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap:30px;
  width:100%;
  position: relative;
  z-index:10;
  margin-left: 0px;
}

}

@media (min-width:1024px){
  .divide{
   display: flex; 
   flex-direction: row;
   padding: 0px 30px;
   margin-bottom: 20px;
  }
  .toas{
 
  top: 50%;
  left:50% ;
  z-index:1000;
  padding: 50px;
  opacity:2;
  max-height:90vh;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: none;
  position:fixed;
  transform: translate(-50%, -50%);
}
.display{
  margin-left:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
  width:65%;
  position: relative;
  max-width:1125px;
  z-index:10;
  
}
.bug {
  position: absolute;
  bottom: 0px;           /* from bottom instead of top */
  left: 50%;
  transform: translateX(-50%); /* centers horizontally */
 /* padding: 15px 40px;*/
 width: fit-content;
 max-width: 100%;
 font-size: clamp(14px, 1.2vw, 18px);
 white-space: nowrap;
 padding: 1em 2.5em;
  border: 1px solid brown;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}
  /*
.bug{
  position:absolute;
  top:-27px;
  padding: 15px 0px;
  padding-left:50px;
  padding-right:50px;
   text-align: center;
  justify-content: center;
  border: 1px solid brown ;
  border-radius:30px;
  background-color: white;
  font-weight: bold;
  left:70px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.9s ease,
  transform 0.9s,
  opacity 0.4s ease;
}
  */
.mole{
  background-color: #ffff;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  width:30%;
  height: 80%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin-right:20px;
}
h1{
  font-weight: bold;
  font-size: 50px;
  padding-left: 70px;
}
.pics{
  width: 70%;
  margin: 0 auto;
}
img{
  width:100%;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease;

}
.confirm{
  padding-right:110px;
  padding-left:110px;
  width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  background-color: brown;
  border: 1px solid grey;
  cursor: pointer;
  transition: background-color 0.9s ease,
  transform 0.9s,
  opacity 0.4s ease;
}

  

.new-order{
  
 background-color:brown;
  font-size:18px;
  color:white;
  width: 90%;
  padding-top:20px;
  padding-bottom:20px;
  margin: 0 auto;
  border-radius: 50px;
  font-size: 20px;
  position: absolute;
    left:5%;
    right: 50%;
    border: none;
    cursor: pointer;
  transition: background-color 0.9s ease,
  transform 0.9s,
  opacity 0.4s ease;

  
}
.gone{
  margin-bottom: 18px;
  width: 100%;
  margin: 0 auto;
  position: reltive;
  text-align: center;
  justify-content: center;
  align-items: center;
background-color: #fff;
padding-bottom: 50px;
  
}

}
